@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink-caret {
  40% {
    border-color: transparent;
  }
}

.nav-bar,
.tabs {
  position: fixed;
  font-family: "Nunito", sans-serif;
  z-index: +2;
  border-spacing: 2em;
}

.tab {
  background-color: #558b2f;
  border-radius: 15px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav {
  z-index: +2;
}

h2 {
  font: bold 2em monospace;
  color: white;
  border-right: 0.1em solid white;
  width: calc(0.55em * 14);
  width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 3s steps(20, end),
    blink-caret 0.3s step-end infinite alternate;
}

h3 {
  font-weight: bolder;
  letter-spacing: 0.1rem;
}

h4 {
  font: bold 2em monospace;
  color: #558b2f;
}

p {
  font-family: "Quicksand", sans-serif;
  color: white;
  font-size: 20px;
}

.btn {
  border-radius: 50px;
  margin: 1em;
  box-shadow: 5px 5px 5px black;
  background-color: #558b2f;
}

.btn:hover {
  background-color: #dfc07b;
  color: #558b2f;
}

.email {
  color: #558b2f;
}

.email-text {
  margin: auto;
  padding: 1em;
}

.brand-logo {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 60px;
  font: bold 2em monospace;
  color: white;
}

.welcome {
  margin: 7vh;
  color: white;
  font: bold 2em monospace;
  text-align: center;
}

.my-skills {
  font: 1.5em monospace;
  color: white;
  text-align: left;
  margin: 2em;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 50vh;
  padding: 3em;
}

.fab:hover,
.email:hover {
  color: #dfc07b;
}

.github {
  border: none;
}

a {
  color: #558b2f;
}

span {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.zarela-pic {
  border-radius: 50% 50%;
  z-index: -1;
}

.brand-statement {
  font: bold 2em monospace;
  color: white;
  font: 2em;
}

.work {
  border-radius: 15px;
  box-shadow: 10px 10px 5px black;
}

img {
  box-sizing: border-box;
  float: none;
  max-width: 100%;
}

.contact {
  padding-top: 10em;
}

html,
body {
  height: 100%;
  width: 100%;
}

.center-image {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#home {
  @include parallax;
  background: url("https://s-media-cache-ak0.pinimg.com/originals/f2/9f/c0/f29fc0daafd3d930c97771ad5683ef8b.jpg");
}

#discography-layover {
  background: url("http://i.imgur.com/dNKiGzq.png") no-repeat center center
    fixed;
  @include parallax;
  height: 150px;
  border-radius: 15px;
  border: white 11px;
  box-shadow: 0 10px #grey;
  margin-left: 60px;
}

body {
  display: table;
  width: 100%;
  height: 100%;
}

main {
  flex: 1 0 auto;
  height: auto;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1em;
  font-size: 16px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 1px;
}

.empty {
  height: 10em;
}

header,
footer {
  display: table-row;
}
.contrib-footer {
  display: none;
}

/* Button Animations */
a.animBtn:link,
a.animBtn:visited {
  position: relative;
  display: inline-block;
  width: 180px;
  margin: 30px;
  padding: 14px 15px;
  border: 4px solid #558b2f;
  background: transparent;
  border-radius: 50px;
  color: #558b2f;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a.animBtn:link:after,
a.animBtn:visited:after {
  content: "";
  position: absolute;
  background: none repeat scroll 0 0 #558b2f;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 100%;
  z-index: -1;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
a.animBtn:link:hover,
a.animBtn:visited:hover {
  color: #333;
  text-shadow: none;
}
a.animBtn:link:hover:after,
a.animBtn:visited:hover:after {
  height: 420%;
}

a.animBtn.themeA:after {
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
a.animBtn.themeB:after {
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
a.animBtn.themeC:after {
  opacity: 0.5;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
a.animBtn.themeC:hover:after {
  height: 140%;
  opacity: 1;
}
a.animBtn.themeD:after {
  width: 0%;
  border-radius: 50%;
  opacity: 0.5;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
a.animBtn.themeD:hover:after {
  height: 450%;
  width: 110%;
  opacity: 1;
}
