<div class="empty"></div>
<div class="center pad-md">
  <img class="zarela-pic" src="/images/zarela-pic.png" width="200px;" />
  <div class="brand-statement container">
    <br />
    <p>
      Technology, exploring different cultures, and continuously learning, have
      been at the forefront of my life. I love the thrill of producing creative
      and innovative solutions in a collaborative environment, while continuing
      to learn from others, and from my own experiences.
    </p>
    <p>
      In 2017 I founded SWFL Coders, a local community meetup and we are now
      more than 750 members. We meet bi-monthly to learn the latest trending
      technologies while sharing and helping each other. We believe in diversity
      and welcome anyone who is a developer or simply is interested in entering
      the fantastic world of programming.
    </p>
    <p>
      <a href="https://www.meetup.com/SWFL-Coders/" target="_blank">
        <i class="fab fa-meetup fa-3x" style="color: #e14a64"></i> <br />
      </a>
    </p>

    <span style="color:#558b2f">I am passionate about:</span>
    <p>
      <span style="color: #c678dd">#Technology </span>
      <span style="color: #dfc07b">#Programming </span>
      <span style="color: #54adb0">#Community </span>
      <span style="color: #c678dd">#Travel </span>
      <span style="color: #dfc07b">#Concerts </span>
      <span style="color: #54adb0">#Star Trek 🖖</span>
    </p>
  </div>
</div>
