<div class="contact">
  <div class="container center">
    <div class="container center">
      <a href="mailto:zarelak@gmail.com">
        <i class="large material-icons email">email</i>
        <h2 class="email-text">zarelak@gmail.com</h2>
      </a>
    </div>

    <div class="container center social-media">
      <a href="https://github.com/zarela" target="_blank">
        <i class="fab fa-github fa-4x"></i>
      </a>
      <a href="https://www.linkedin.com/in/zarela" target="_blank">
        <i class="fab fa-linkedin fa-4x"></i>
      </a>
      <a href="https://twitter.com/ZG_Stardust" target="_blank">
        <i class="fab fa-twitter fa-4x" alt="@zg_stardust"></i>
      </a>
      <a href="https://www.instagram.com/zg_stardust" target="_blank">
        <i class="fab fa-instagram fa-4x" alt="@zg_stardust"></i>
      </a>
    </div>
    <a
      class="animBtn themeA"
      href="https://profiles.generalassemb.ly/zarela"
      target="_blank"
      >GA Profile</a
    >
    <a
      class="animBtn themeB"
      href="https://drive.google.com/file/d/0B9p6hJKmZMZESlowQjNibks1ZlU/view?usp=sharing"
      target="_blank"
      >Resume</a
    >
  </div>
</div>
