<div class="empty"></div>

<div class="center">
  <ul class="tabs tabs-transparent">
    <li class="tab">
      <a ui-sref="job-trail" ui-sref-active="active">Job Trail</a>
    </li>
    <li class="tab">
      <a ui-sref="black-jack" ui-sref-active="active">Black Jack</a>
    </li>
    <li class="tab">
      <a ui-sref="shopmate" ui-sref-active="active">Shopmate</a>
    </li>
    <li class="tab">
      <a ui-sref="goal-digger" ui-sref-active="active">Goal Digger</a>
    </li>
  </ul>
</div>

<div class="empty"></div>

<div class="container">
  <div class="col-md-3 col-md-pull-9">
    <p class="center">JOB TRAIL: Job Search Application</p>
    <img
      class="featurette-image img-responsive center-block work"
      data-src="holder.js/500x500/auto"
      width="600px;"
      src="/images/jobtrail.png"
      data-holder-rendered="true"
    />
    <div class="container center">
      <p>#JavaScript #HTML #CSS #AngularJS #Express #Rails #Ruby</p>
      <a
        class="waves-effect waves-light btn"
        href="https://github.com/zarela/job-tracker"
        target="_blank"
        >Github</a
      >
      <a
        class="waves-effect waves-light btn"
        href="https://jobtrail.herokuapp.com/"
        target="_blank"
        >Live Site</a
      >
    </div>
  </div>
</div>

<!-- <div id="discography-layover"></div> -->
<div class="empty"></div>

<div class="container">
  <div class="col-md-3 col-md-pull-9">
    <p class="center">BLACK JACK: Card Game</p>
    <img
      class="featurette-image img-responsive center-block work"
      data-src="holder.js/500x500/auto"
      width="600px;"
      src="/images/blackjack1.png"
      data-holder-rendered="true"
    />
    <div class="container center">
      <p>#JavaScript #HTML #CSS #jQuery #DOM Manipulation</p>
      <a
        class="waves-effect waves-light btn"
        href="https://github.com/zarela/BlackJack-Game"
        target="_blank"
        >Github</a
      >
      <a
        class="waves-effect waves-light btn"
        href="https://zarela.github.io/BlackJack-Game/"
        target="_blank"
        >Live Site</a
      >
    </div>
  </div>
</div>

<!-- <div id="discography-layover"></div> -->
<div class="empty"></div>

<div class="container">
  <div class="col-md-3 col-md-pull-9">
    <p class="center">SHOPMATE: Grocery List Application</p>
    <img
      class="featurette-image img-responsive center-block work"
      data-src="holder.js/500x500/auto"
      width="600px;"
      src="/images/Shopmate.png"
      data-holder-rendered="true"
    />
    <div class="container center">
      <p>#JavaScript #HTML #CSS #AngularJS #Express #MongoDB #Node.js</p>
      <a
        class="waves-effect waves-light btn"
        href="https://github.com/zarela/grocery-list-app/tree/development"
        target="_blank"
        >Github</a
      >
      <a
        class="waves-effect waves-light btn"
        href="http://shopmate-app.herokuapp.com/"
        target="_blank"
        >Live Site</a
      >
    </div>
  </div>
</div>

<!-- <div id="discography-layover"></div> -->
<div class="empty"></div>

<div class="container">
  <div class="col-md-3 col-md-pull-9">
    <p class="center">GOAL DIGGER: Goal Tracker Application</p>
    <img
      class="featurette-image img-responsive center-block work"
      data-src="holder.js/500x500/auto"
      width="600px;"
      src="/images/goal-digger2.png"
      data-holder-rendered="true"
    />
    <div class="container center">
      <p>#JavaScript #HTML #CSS #Express #MongoDB #Node.js</p>
      <a
        class="waves-effect waves-light btn"
        href="https://github.com/zarela/goal-tracker"
        target="_blank"
        >Github</a
      >
      <a
        class="waves-effect waves-light btn"
        href="https://goal-digger.herokuapp.com/"
        target="_blank"
        >Live Site</a
      >
    </div>
  </div>
</div>

<div class="empty"></div>
<div class="container center">
  <p>GitHub Activity</p>
  <div class=" github">
    <script>
      new GitHubCalendar(".github", "zarela", {
        responive: false,
        global_stats: false
      });
    </script>
  </div>
</div>
